.items-container{
        display: flex;
        text-align: center;
        clear:both;
        
}

.menu-item{
    float: left;
    width: 33.33%;
    padding: 5px;
    display: inline;
    clear:both;
}

img{
    width: 50%;
    clear:both;
}

.order-tracker { 
    float:left;
    display: inline;
}
